.container{
	margin:0;
	background-color: #E7ECDF;
	display: flex;
	flex-direction: column;
	margin-inline: 0rem;
	margin-block: 10rem;
	padding: 2.5rem;
	border-radius: 10px;
}

.btn-a {
	text-decoration: none;
	color: #000;
	align-items: center
	display: flex;
}



